body{
    background-color: rgb(238, 235, 231);
}
h1{
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
}

#colorName{
    text-align: center;
    font-size: xxx-large;
    margin-top: 60px;
}

#box{
    display: flex;
    justify-content:center;
    gap:20px;
    margin-top: 80px;
}

.btn{
    height: 170px;
    width: 80px;
    border-radius: 100%;
    cursor:crosshair;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#re{
    text-align: center;
    margin-top: 20px;

}

#replay{
    height: 60px;
    width: 120px;
    font-size: larger;
    text-align: center;
    cursor: pointer;
    background-color: #ffbdbd;
}